body{
  margin:0;
  padding:0;
  background: yellow;
  .todo-cont{
    margin:15px auto;
    .todo-search{
      input{
        padding: 5px 8px;
        font-size: 18px;
        color: green;
      }
    }
    .todo-main{
      color: red;
    }
    .todo-add{
      color: green;
    }
  }
}
