body{
  margin:0;
  padding:0;
  background: rgba(251, 248, 255, 0.18);
  .todo-cont{
    margin:15px auto;
    .todo-search{
      input{
        padding: 5px 8px;
        font-size: 18px;
        color: green;
      }
<<<<<<< HEAD
      a{
        display: inline-block;
        text-align: center;
        width:26px;
        width:20%;
        height:26px;
        padding: 2px 5px;
        border: 1px solid #C7C7C7;
        border-left: 0;
        border-radius: 0 4px 4px 0;
        img{
          height:100%;
          border: none;
        }
      }
    }
    .todo-add{
      a{
        text-decoration: none;
        letter-spacing: 2px;
        color: #1296db;
        font-weight: bold;
      }
=======
>>>>>>> origin/master
    }
    .todo-main{
      color: red;
    }
    .todo-add{
      color: green;
    }
  }
}
